@import "tailwindcss";

@theme inline {
    /* fonts */
	--font-title: "Playfair", serif;
	--font-subtitle: "Poppins", sans-serif;
	--font-body: "Roboto", sans-serif;

    /* Font colors */
    --text-secondary: #D5B370;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair";
    src: url("/fonts/Playfair_144pt-Regular.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

header {
    background-color: rgba(0,0,0,0.5);
}